<%= form_for(@beverage) do |f| %>
  <% if @beverage.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@beverage.errors.count, "error") %> prohibited this beverage from being saved:</h2>

      <ul>
      <% @beverage.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :abv %><br />
    <%= f.text_field :abv %>
  </div>
  <div class="field">
    <%= f.label :glass %><br />
    <%= f.text_field :glass %>
  </div>
  <div class="field">
    <%= f.label :quart %><br />
    <%= f.text_field :quart %>
  </div>
  <div class="field">
    <%= f.label :growler %><br />
    <%= f.text_field :growler %>
  </div>
   <div class="field">
    <%= f.label :featured %><br />
    <%= f.text_field :featured %>
  </div>
  <div class="field">
    <%= f.label :"Glass Type" %><br />
    <%= f.select :glass_type, options_for_select(%w[belgian_ale.jpg classic_pilsner.jpg craft_pub.jpg porter_stout.jpg wheat_beer.jpg]) %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
