<h1>Listing beverages</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Abv</th>
    <th>Glass</th>
    <th>Quart</th>
    <th>Growler</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @beverages.each do |beverage| %>
  <tr <% if beverage.featured? %> style="color:green;" <%end %>>
    <td><%= beverage.name %></td>
    <td><%= beverage.description %></td>
    <td><%= beverage.abv %>%</td>
    <td>$<%= beverage.glass %></td>
    <td>$<%= beverage.quart %></td>
    <td>$<%= beverage.growler %></td>
    <td><%= link_to 'Show', beverage %></td>
    <td><%= link_to 'Edit', edit_beverage_path(beverage) %></td>
    <td><%= link_to 'Destroy', beverage, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Beverage', new_beverage_path %>
<br />
<%= link_to 'Back', :back %>
