<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @beverage.name %>
</p>

<p>
  <b>Description:</b>
  <%= @beverage.description %>
</p>

<p>
  <b>Abv:</b>
  <%= @beverage.abv %>%
</p>

<p>
  <b>Glass:</b>
  $<%= @beverage.glass %>
</p>

<p>
  <b>Quart:</b>
  $<%= @beverage.quart %>
</p>

<p>
  <b>Growler:</b>
  $<%= @beverage.growler %>
</p>

<p>
  <b>Featured:</b>
  <%= @beverage.featured %>
</p>

<p>
	<b>Glass Type:</b>
	<%= image_tag @beverage.glass_type %>	
</p>

<%= link_to 'Edit', edit_beverage_path(@beverage) %> |
<%= link_to 'Back', beverages_path %>
